# http://editorconfig.org

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100
ij_formatter_tags_enabled = true

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false

# IntelliJ-based IDEs
[{*.cjs,*.js}]
ij_javascript_force_semicolon_style = true
ij_javascript_force_quote_style = true
ij_javascript_use_double_quotes = false
ij_javascript_enforce_trailing_comma = remove
ij_javascript_blank_lines_after_imports = 1
ij_javascript_blank_lines_around_class = 1
ij_javascript_blank_lines_around_field = 0
ij_javascript_blank_lines_around_function = 1
ij_javascript_blank_lines_around_method = 1
ij_javascript_keep_first_column_comment = false
ij_javascript_keep_blank_lines_in_code = 2
ij_javascript_keep_line_breaks = true
ij_javascript_keep_indents_on_empty_lines = false
ij_javascript_keep_simple_methods_in_one_line = false
ij_javascript_chained_call_dot_on_new_line = true
ij_javascript_if_brace_force = always
ij_javascript_space_after_comma = true
ij_javascript_align_multiline_array_initializer_expression = true
ij_javascript_array_initializer_wrap = normal
ij_javascript_method_call_chain_wrap = normal

[{*.sht,*.html,*.shtm,*.shtml,*.htm}]
ij_html_quote_style = double
ij_html_keep_blank_lines = 2
ij_html_add_new_line_before_tags = body,div,p,form,h1,h2,h3
ij_html_do_not_indent_children_of_tags = thead,tbody,tfoot,script,style
ij_html_do_not_break_if_inline_tags = title,h1,h2,h3,h4,h5,h6,p
