@charset "utf-8";

/*! for built bulma */
$family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
'Noto Color Emoji';

$link: unset;
$link-hover: unset;


@import "../../node_modules/bulma/sass/base/minireset";
@import "../../node_modules/bulma/sass/utilities/_all";
@import "../../node_modules/bulma/sass/base/generic";
@import "../../node_modules/bulma/sass/elements/content";
